<!-- 导航开始 -->
<div class="top_nav">
    <div class="nav_menu">
        <nav class="navbar " role="navigation">
            <div class="top_nav container-fluid">
           		<div class="pull-left">
           			<!-- <a href="#"><img src="{{state.baseUrl}}/images/logo.png" alt=""></a> -->
           		</div>
           		<div class="navbar-right">
           			<ul>
           				<li><a href="/loginout">退出</a></li>
           			</ul>
           			
           		</div>
            </div>
        </nav>
    </div>
</div>
<!-- 导航结束 -->
