<!-- 左侧分页栏开始 -->
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <!-- 页面列表开始 -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                	<li class="cur">
                        <a href="/users"><i class="fa fa-home"></i>用户权限</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 页面列表结束-->
    </div>
</div>
<!-- 左侧分页栏结束 -->
